/* Header & Footer ====================================================================== */

header {
    background-color: rgb(44, 44, 44);
    border-bottom: solid 1rem;
    border-image: linear-gradient(45deg, rgb(252, 52, 199), yellow) 1;
}

footer {
    border-top: solid 1rem;
    border-image: linear-gradient(45deg, rgb(252, 52, 199), yellow) 1;
    margin-top: 2em;
}

#footerContainer {
    color: #737373;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
}

/* Text Headings ================================================================================ */

h1 {
    color: white;
    font-size: large;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}

h2 {
    color: white;
    text-align: center;
    padding-bottom: 3vh;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}

h3 {
    display: flex;
    justify-content: center;
    padding-top: 1vh;
    padding-bottom: 2vh;
    color: white;
}

h4 {
    color: white
}

/* Body & Links ================================================================================ */
body {
    color: white;
    background-color: black;
    padding: 0;
    margin-left: 0px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #fc34c7;
}

/* Lists ================================================================================ */

ul {
    padding-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

ul > li > .crumbTwo {
    padding-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: right;
    list-style: none;
    font-size: large;
}

ol {
    /* padding-left: auto; */
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.crumb {
    margin-right: 6em;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    font-size: 150%;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}

.crumbTwo {
    margin-right: 2em;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}

.mainLists {
    margin-left: 5vw;
    font-size: 200%;
}


/* Bootstrap and Images ================================================================================ */

.img-fluid {
    width: 15vh;
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.img-fluid:hover {
    transform: scale(1.2); 
}


.row {
    background-image: "https://wallpaperaccess.com/full/6433140.png";
    background-size: cover;
}

img {
    width: 4vh;
}

/* Froms ================================================================================ */

form {
    width: 350px;
    height: 350px;
    background-color: rgb(50, 50, 50);
    position: relative;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 3vh;
    border-top-left-radius:25px;  
    border-top-right-radius:25px;  
    border-bottom-right-radius:25px;  
    border-bottom-left-radius:25px;
}

input[type='text'] {
    width: 85%;
    height: 30px;
    border: none;
    border-bottom: 2px solid #232323;
    color: #232323;
    background-color: snow;
    border-top-left-radius:5px;  
    border-top-right-radius:5px;  
    border-bottom-right-radius:5px;  
    border-bottom-left-radius:5px;
    padding-left: 5px;
}

/* Cards and Containers ================================================================================ */
.card {
    background-color: black;
    color: white;
    margin: 2em;
    border: rgb(50, 50, 50) solid 6px;
    transition: all .2s ease-in-out;
}

.card:hover {
    transform: scale(1.1); 
    border-color: white;
}

.container-fluid {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

#songsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#playlistContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#aboutContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 1em;
    margin-bottom: 2em;
}

#aboutContainer > p {
    font-size: 150%;
}

/* Buttons ================================================================================ */
#pageButton {
    color: white;
    font-size: 150%;
    padding: 1em;
    font-weight: 700;
    background-color: black;
    border: solid white .2em;
    border-top-left-radius:5em;  
    border-top-right-radius:5em;  
    border-bottom-right-radius:5em;  
    border-bottom-left-radius:5em;
}

#pageButton:hover {
    color: black;
    font-size: 150%;
    padding: 1em;
    font-weight: 700;
    background-color: white;
    border: solid black .2em;
    border-top-left-radius:5em;  
    border-top-right-radius:5em;  
    border-bottom-right-radius:5em;  
    border-bottom-left-radius:5em;
}

#add-button {
    color: white;
    font-size: 150%;
    padding: .5em;
    font-weight: 700;
    background-color: rgb(50, 50, 50);
    border: solid white .2em;
    border-top-left-radius:5em;  
    border-top-right-radius:5em;  
    border-bottom-right-radius:5em;  
    border-bottom-left-radius:5em;
}

#add-button:hover {
    color: rgb(50, 50, 50);
    font-size: 150%;
    padding: .5em;
    font-weight: 700;
    background-color: white;
    border: solid rgb(50, 50, 50) .2em;
    border-top-left-radius:5em;  
    border-top-right-radius:5em;  
    border-bottom-right-radius:5em;  
    border-bottom-left-radius:5em;
}

#buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
}

#topButton {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: solid 2px; 
    background-color: black; 
    color: white; 
    cursor: pointer; 
    padding: 10px; 
    border-radius: 10px;
    font-size: 2em; 
}
  
#topButton:hover {
    background-color: white; 
    color: black;
}

/* Other ================================================================================ */

#lineBreak {
    border-bottom: solid 1rem;
    border-image: linear-gradient(45deg, #fc34c7, #ffff00) 1;
}

#Main-Title {
    width: 10em;
    margin-bottom: 0
}
